{% extends "./layout/main.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<!--     <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
    <div class="blog-post">
      <h3 class="blog-post-title">树莓派继电器模块</h3>
      <p class="blog-post-meta">10-23, 2018 by <a href="#">admin</a></p>
      <blockquote>
        <p>GPIO 图解 <strong>Nullam quis risus eget urna mollis</strong> Python-Raspberry-Gpio</p>
      </blockquote>
      <p> 关于树莓派IO网上有一大推资料。现在本文将资料进行汇总整理。主要是常用操作，和io详情等等内容。和自己的一些分析想法。减少用户索引资料浪费的时间。啊哈哈哈哈哈
      </p>
    </div> -->


    {%for list in data %}
<!--     <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p> -->
    <div class="blog-post" onclick="window.href='../blong?t={{list.short_url}}'">
      <h3 class="blog-post-title">{{list.title}}</h3>
      <p class="blog-post-meta">{{list.created_at}} <a href="#">admin</a></p>
      <blockquote>
        <p>{{list.textarea}}</p>
      </blockquote>
      <!-- <p> {{list.info}}</p> -->
    </div>
    {%else%}
    没有内容.....
    {%endfor%}




    <nav>
      <ul class="pager">
        <li><a href="#">上页</a></li>
        <li><a href="#">下页</a></li>
      </ul>
    </nav>
{% endblock %}