<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>新增文章</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="http://pandao.github.io/editor.md/css/editormd.css" /> 
    </head>
    <body>


<br>
<br>
<div class="container">
  <div class="row">



    <form method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">网站类目</label>
        <select class="form-control">
          <option>网站目录</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">文章标题</label>
        <input type="text" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
            <div id="test-editormd">
                <textarea style="display:none;" name="mdcontent">
                </textarea>
            </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>



  </div>
</div>
<br>
<br>




   
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://pandao.github.io/editor.md/editormd.js"></script>
        <script type="text/javascript">
            $(function() {
                $.get("http://pandao.github.io/editor.md/examples/test.md", function(md) {
                    var testEditor = editormd("test-editormd", {
                        width  : "90%",
                        height : 640,
                        path   : "http://pandao.github.io/editor.md/lib/",
                        appendMarkdown : md,
                        saveHTMLToTextarea : true
                    });
                });

                //testEditor.getMarkdown();       // 获取 Markdown 源码
                //testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
                //testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用
            });
        </script>
    </body>
</html>