<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>新增博文</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="//pandao.github.io/editor.md/css/editormd.css" /> 
    </head>
    <body>


<br>
<br>
<div class="container">
  <div class="row">

    <form method="post">
      <div class="form-group">
        <label>博文类目</label>
        <select class="form-control" name="menutop_id">
            <option value="0">杂项</option>
            {%for list in example %}
            <option value="{{list.id}}" >{{list.name}}</option>
            {%else%}
            {%endfor%}
        </select>

      </div>
      <div class="form-group">
        <label>文章标题</label>
        <input type="text" class="form-control" name="title" placeholder="响亮的标题">
      </div>
      <div class="form-group">
        <label>文章简介</label> 
        <textarea class="form-control" name="textarea" rows="3"></textarea>
      </div>
      <input type="hidden" name="textarea" value="">
      <input type="hidden" name="markdown_doc" value="">
      <input type="hidden" name="markdown_htm" value="">
    </form>
    <div class="form-group">
      <label for="exampleInputPassword1">MD编辑器</label>
      <div id="test-editormd">
          <textarea style="display:none;">
          </textarea>
      </div>
    </div>
    <button type="input"  class="btn btn-default" id="submit">Submit</button>
  </div>
</div>

<br>
<br>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="//pandao.github.io/editor.md/editormd.js"></script>
<script type="text/javascript">
    $(function() {
            var md = '请开始你的上台表演-';
            var testEditor = editormd("test-editormd", {
                width  : "100%",
                height : 640,
                path   : "//pandao.github.io/editor.md/lib/",
                appendMarkdown : md,
                saveHTMLToTextarea : true,
                emoji : true,
                taskList : true,
                tocm            : true,         // Using [TOCM]
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            });
            $("#submit").click(function(){
                $(this).attr('disabled',true);
                $("input[name='markdown_doc']").val(testEditor.getMarkdown());
                $("input[name='markdown_htm']").val(testEditor.getHTML());
                $("form").submit();
            })
    });

</script>
    </body>
</html>